
header{
	background-color: #000;
	width:100%;
}

.title{

font-size: 24px;
	font-weight: 600;
	
	color: grey;
	padding: 13px 13px 13px 0px;
}
 a:hover{
	color:white;
	text-decoration: none;

}
.hlist li{

list-style-type: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
}
.hlist li a{
	margin:0px;
	color: grey;
	padding: 15px;
	text-decoration: none
}
.hlist li a:hover{
	color: white;
}
.pad{
	   margin-top: 10px;
  margin-bottom: 10px;
}
.banner{
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	background-color: #efefef;
	border-radius: 6px;
	padding: 60px;
}
