*{

    margin: 0px;
    padding:0px;
}


header{
background-color: white;
height: 55px;
width: auto;
}

.hli li {
	float: left;
 
/* margin-left: 30px;
  margin-top: 11px;*/
 font-weight: 400;

}
.hli li a{
font-size: 16px;
color:#000;
text-decoration: none;
font-style: bold;
display:block;
    padding: 11px 30px;

}
ul{
	float: left;
    list-style-type: none;
margin-top: 10px;
  padding-left: 0px;
}
.container
{

	width: 940px;
 margin:0 auto;
 clear:both;
 position: relative;
 
}
.logo{
	
	width:135px;
 height: 55px;
 display: block;
 background-color: #FF8000;
 float: left;
}
.search_field {
    display: inline-block;
   
    width:240px;
    height:40px;
    float: right;
    margin-top: 6px;
      border: 2px solid #A59C9C;
        border-radius: 10px;
}

.search_field input {
    border: none;
    padding: 0;
    height: 40px;
width: 199px;
border-radius: 10px;
}

.search_field button {
	float:right;
    border: none;
   height: 40px;
    background: none;
  
    width: 41px;
background-color: white;
border-radius: 10px;
}
.search_field img{
    max-width: 17px;
}
.banner{
 
	background-color: black;
    width: 100%;
    clear: both;
}

.banner img{
    max-width: 940px;
      max-height: 464px;
}
.banner h1{

    position: absolute;
top: 345px;

color: white;
font-size: 44px;
font-weight: lighter;
letter-spacing: -1px;
  left: 68px;

}
.banner h6{
    position: absolute;
top: 396px;

font-size: 22px;
color:#ffffff;
font-weight: normal; 
letter-spacing: -1px;
font-family: arial;
  left: 68px;
     
}
.mlist{
display: block;
height:100px;
width:100%;
background-color: #ecab1f;

}
.mlist ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mlist li {
    float:left;
   
} 
.mlist span{
  
  display: block;
font-size: 22px;
color: #222222;
padding: 10px 10px 10px 10px;
float: left;
}

.mlist .last {
   margin-right: 0px;
}

.mlist img{
  padding-top: 15px;
float: right;

padding-right:14px;
    
}
.mlist a{
    text-decoration: none;
    display: block;
width: 220px;
    height: 60px;
    border-radius: 8px;
background: #efefef;.
float:left;
margin-right: 20px;
}

.heading{
  margin-top: 60px;
}
.heading h2{
   
  font-size: 40px;
  color:#888888;
font-family: arial;
font-weight: 500;
margin-bottom: 14px;
}

.lspan{
    display: block;
text-align: left;
margin-right: 20px;
height:63px;
width:300px;
background-color: #4466ff;
border-radius: 0px;
font-weight: 600;
}

.lower ul li{
  float:left;
}
.lower a{
  text-decoration: none;
}
.shape{
display: block;
width: 220px;
    height: 60px;
    border-radius: 8px;
background: #efefef;.
float:left;
margin-right: 20px;

  
}
.text{
margin-top: 18px;
  padding-left: 19px;
  font-size: 22px;
  float: left;
  color: #222222;
  text-align: left;
  height: 0px;
}
.uppertext {
  font-size: 11px;
color:white;
padding-top: 15px;
padding-left: 24px;
margin: 0px;
  padding-bottom: 4px;
  display:block;

}

.lowertext{

  font-size: 18px;
margin-top: 0px;
color:white;
padding-top: 4px;
padding-left: 24px;

}
.lower .last {
   margin-right: 0px;
}
a{
  display:block;
}
